.edit-books table {
  width: 100%;
  border-collapse: collapse;
}

.edit-books table th,
.edit-books table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.edit-books table td img {
  height: 100px;
  aspect-ratio: 2/3;
  object-fit: contain;
}

.edit-books .actions {
  display: flex;
  margin: 10px 0 0 0;
}

.edit-books td input[type="text"] {
  width: 100%;
}
