.view-books .rack {
  margin: 10px 0;
}

.view-books .rack.active {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.view-books .rack h2 {
  cursor: pointer;
  padding: 10px;
  margin: 0;
  background-color: #95dbc6;
  border: 2px solid #39a786;
  border-radius: 5px;
  user-select: none;
}

.view-books .rack h2::after {
  content: "▼";
  float: right;
  font-size: 1.2rem;
}

.view-books .rack.active h2 {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.view-books .rack.active h2::after {
  content: "▲";
}

.view-books .rack .books {
  display: none;
}

.view-books .rack.active .books {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f0faf7;
  border: 2px solid #39a786;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.view-books .rack.active .books .book-tile img {
  height: 180px;
}

@media (min-width: 768px) {
  .view-books .rack.active .books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 30px;
  }

  .view-books .rack.active .books .book-tile img {
    height: auto;
  }
}
